<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>Users Resume</h1>
        {% for profile in profiles %}
        <div class="row m-1">
            <div class="col-md-3"></div>
            <div class="col-md-3">
                {{ profile.name }}
            </div>
            <div class="col-md-1">
                <a href="{% url 'resume' profile.id %}" class="btn btn-outline-dark" role="button" >Download Resume</a>
            </div>
            <div class="col-md-6"></div>
        </div>
        <hr>
        {% endfor %}
    </div>
</body>
</html>